{% extends "structure.html" %} {% block header %}
<article>
    <h2>Marlos H Sotto Maior</h2>
    <img src="../static/img/avataaars.png">
</article>
{% endblock header %}
{% block main %}
<div class="container">
    <h2>The Gospel</h2>
    <h3>We are all sinner </h3>
    <p>For all have sinned, and come short of the glory of God;
        Romans 3.23
    </p>
    <h3>God show us a way </h3>
    <p>
        For the wages of sin is death; but the gift of God is eternal life through Jesus Christ our Lord.
        Romans 6,23
    </p>
    <p>
        That if thou shalt confess with thy mouth the Lord Jesus, and shalt believe in thine heart that God hath raised
        him
        from the dead, thou shalt be saved.
        Romans 10,9
    </p>
    <h3>Why?</h3>
    <p>Denn also hat Gott die Welt geliebt, dass er seinen eingeborenen Sohn gab, auf dass alle, die an ihn glauben,
        nicht verloren werden, sondern das ewige Leben haben. Johannes 3,16
    </p>
    <p>

    </p>
</div>

{% endblock main %}